[submodule "external/linenoise"]
	path = external/linenoise
	url = https://github.com/antirez/linenoise.git
[submodule "external/libelfin"]
	path = external/libelfin
	url = https://github.com/TartanLlama/libelfin.git
